{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <!-- Barre de navigation -->
    <div class="nav-menu">
        <div class="menu">
        
            <ul>
                        <li><a href="{% url 'index' %}">  <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/home.png' %}" alt="">Home</a></li>
                    
                        <li><a href="{% url 'login_view' %}"> <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/login.jpeg' %}" alt="">Login</a></li> <br><br>
                       
                       
                        
                       
                 
            </ul>
       
        </div>
    </div>

    <!-- Section principale -->
    <section class="hero">
        <div class="hero-text">
            
        </div>
    </section>

    <!-- Cartes de services -->
    <section class="services">
        <div class="card">
            <h1>Nos services: <h2>Service de digitalisation</h2></h1>
            <p>
                <ul>
                    <li>Installation de syteme </li>
                    <li>Formation pour les utilisateur de systeme</li>
                    <li>Accompagnement</li>
                </ul>
            </p>
            
        </div>
        <div class="card">
            <h1>Notre Vision</h1>
            <p>
             Nous voulons que notre pays progresse en monde technologique
            </p>
        </div>
        <div class="card">
            <h1>Notre mission</h1>
            <p>
             
            </p>
        </div>
        
    </section>
</body>
</html>

