{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <h1>claimauditor</h1>
            <p>Manage Payment Integrity</p>
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="{% url 'index' %}">  <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/home.png' %}" alt=""></a></li>
            
                <li><a href="{% url 'index' %}"> <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/deconnexion.png' %}" alt=""></a></li> <br><br>
                

                <li><a href="{% url 'tableauborddeschef' %}">Tableau de bord</a></li>
                
           
        </ul>
        </nav>
    </div>
    <div class="main-content">
        <header>
            <div class="search-bar">
                <input type="text" placeholder="Claim Application">
                <input type="text" placeholder="Claim Number">
                <button>Search</button>
            </div>
            <div class="user-info">
                <img src="static/media/img.jpg" alt="User Photo">
                <span>Welcome NextGen!</span>
            </div>
        </header>


        <div class="content">
            <br><br><br><br>
        <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th> ID</th>
                               <th> Personnel</th>
                               <th> Projet</th>
                                <th>Titre</th>
                                <th>description_file</th>
                                <th>Date</th>
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for rapport in rapports %}
                                
                                <tr>
                                <td data-label="ID"> {{ rapport.id}} </td> 
                                <td data-label="Nom et Prenom"> {{ rapport.personnel.nom_prenom}} </td>
                                <td data-label="Projet"> {{ rapport.projet.nom_projet}} </td>
                                <td data-label="Titre"> {{ rapport.titre_rapport}} </td>   
                                
                                <td>

                                {% if rapport.description_file %}
                                    <a href="{{ rapport.description_file.url }}">{{ rapport.description_file }}</a>
                                {% else %}
                                    Aucun fichier attaché
                                {% endif %}
                                   
                                      
                                    </td>
                                <td data-label="Date"> {{ rapport.date}} </td>    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="no-print">
                <button onclick="window.print()">Imprimer cette page</button>
            </div>
            <a href="{% url 'print_materiel' %}">Imprimer la liste des materiels</a>
       
    
</body>
</html>
{% endblock %}
