{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    
    <div class="nav-menu">
        <div class="menu">
        
            <ul>
                        <li><a href="{% url 'index' %}">  <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/home.png' %}" alt="">Home</a></li>
                    
                        <li><a href="{% url 'index' %}"> <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/deconnexion.png' %}" alt=""></a></li> <br><br>
                        
                       
                 
            </ul>
       
        </div>
    </div>
          
            <div style="border-radius: 40px;width: 460px;height:350; margin: 100px auto; " class="form-container">
                            <h1>Formulaire de connexion</h1>
                            <form  method="POST" action="">
                                
                                {% csrf_token %}
                                
                                    <div style="width: 400px;" class="form-group">   
                                         {{ Connexion_form.nom_utilisateur }}   
                                    </div>
                                    <div style="width: 400px;"  class="form-group">
                                         {{ Connexion_form.mots_de_pass }}    
                                    </div>
                                    <button style="width: 400px;"  type="submit">Se connecter</button>

                            </form>
                        </div>
                        
             
</body>
</html>
                    
{% endblock %}


                    
