{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="sidebar">
        {% comment %} <div class="logo">
            <h1>claimauditor</h1>
            <p>Manage Payment Integrity</p>
        </div> {% endcomment %}
        <nav class="nav-menu">
            <ul>
                <li><a href="{% url 'index' %}">  <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/home.png' %}" alt=""></a></li>
            
                <li><a href="{% url 'index' %}"> <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/deconnexion.png' %}" alt=""></a></li> <br><br>
                

                <li><a href="{% url 'index' %}"> Deconnectez</a></li>
                
               
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <header>
         
        </header>
        <div class="content">
            
            <button>Imprimer la liste des materiels</button>
            <button>AjouterPersonnel</button>

            
        <div class="table-responsive">
            
            <h1>{{ form.instance.pk|yesno:"Modifier Employé,Créer Employé" }}</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enregistrer</button>
            </form>

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom de materiel</th>
                        <th>Nom de Projet</th>
                        <th>Type de materiel</th>
                        <th>Quantites</th>
                        <th>Qualite</th>
                        <th>Date d'enregistrement</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>


        </div>
    </div>
</body>
</html>

{% endblock %}
