<!-- horaires/templates/horaires/employe_confirm_delete.html -->

{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Systeme</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="logo">

            <p>Solution pour digitalisation des hopitaux</p>
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="{% url 'index' %}">  <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/home.png' %}" alt="">Home</a></li>
                 
                

                <li><a href="{% url 'login_view' %}"> <img style="width: 30px;height: 30px; border-radius :50px;" src="{% static 'media/login.jpeg' %}" alt="">Login</a></li> <br><br>
               
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <header>
           
           
        </header>
        <div class="content">
            <h2></h2>
          
           
        <div class="table-responsive">
            <h1>Confirmer la suppression de {{personnels.nom_prenom}}?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmer</button>
    </form>
    <a href="{% url 'liste_personnel' %}">Annuler</a>
        </div>
            <div class="no-print">
                <button onclick="window.print()">Imprimer cette page</button>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}



